/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.resource-meta {
    margin-bottom: 1em;
}

.resource-cost {

}

.resource-terms {
    margin: 1em auto;
}

.resource-terms .resource-term {
    padding: 0 .25em;
    border-radius: .25em;
    border: 1px solid;
    display: inline-block;
    margin-right: .5em;
    text-decoration: none;
}

.resource-terms .resource-term:hover,
.resource-terms .resource-term:focus,
.resource-terms .resource-term:active {
    text-decoration: none;
    border: 1px solid;
}

#resource-loop {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#resource-loop .single-resource {
    width: calc(100% / 3);
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
}

#resource-loop .single-resource .single-resource-title {
    font-size: 1em;
    margin: 0.5em 0;
}

#resource-loop .single-resource .resource-terms {
    margin-top: 0;
}

#resource-loop .single-resource .resource-terms .resource-term {
    font-size: 0.75em;
}